
#header {
    position: absolute;
    width: 260px;
  }
  /*height: 100% or 100vh or auto;*/
  /*width: 50px;
    min-width: 50px;*/
  #header .pro-sidebar {   
    position: relative;
    display: flex;
    height: 100%; 
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    min-width: 100%;
  }
  #header .closemenu {
    color: #000;
    position: absolute;
    left: 10px;
    z-index: 9999;
    border-radius: 50%;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }

  #header .pro-sidebar.collapsed {
    width: 15%;
    min-width: 15%;
    position: relative;
    overflow-x: hidden;

  }
  #header .pro-sidebar-inner {
    background-color: white;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
 
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
  }

  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
    margin-left: 20px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fbf4cd;
    color: #000;
    border-radius: 3px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }

  #begin {
    margin: 0px 0px 0px 0px;
  }

  #end {
    margin: 0px 0px 0px 0px;
  }

  #title1 {
    text-align: center;
  }

  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }
  

